@use "../../style/variables" as vars;
@use "../../style/mixins" as mixins;
 
.profilePage {
    margin: 100px 300px;
        @include mixins.respond-max(vars.$breakpoint-tablet){
            margin: 100px 20px;
            padding: 0;
        }
    &__container {
        margin: 60px 0;
        @include mixins.respond-max(vars.$breakpoint-tablet){
            margin: 0;
            display: flex;
            flex-direction: column;
        }
    }
    &__name {
        font-size: 2rem;
        text-align: right;
        padding: 5px 0;
           @include mixins.respond-max(vars.$breakpoint-tablet){
            text-align: left;
           }
    }
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
           @include mixins.respond-max(vars.$breakpoint-tablet){
              display: flex;
              flex-direction: column;
           }
    }
    &__imgContainer{
        margin: 20px 0;
        padding: 0;
    }
    &__image {
        border-radius: 100px;
    }
    &__btns {
        margin: 0 50px;
        padding: 0 50px;
        gap: 20px;
        display: flex;
          @include mixins.respond-max(vars.$breakpoint-tablet){
             display: flex;
             flex-direction: column;
             padding: 3px;
             margin-bottom: 30px;
          }
    }
    &__btns button {
        padding: 20px 50px;
        border:1px solid vars.$bg-main-color1;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
    }
    &__btndelete{
       background-color:red;
       color: white;
    }
    &__profEmail {
        margin: 20px 0;
    }
    &__infoContainer {
        margin: 10px 0;
    }
    &__listContainer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
     &__listContainer li {
        font-size: 1.2rem;
        font-weight: bold;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        &:hover {
            transition: 0.3s;     
            border-bottom: 2px solid #add8e6;      
        }
     }
     &__collection {
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
     }
     &__collectionList {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
     }
       &__collectionList li {
        font-size: 1.2rem;
        padding: 0px 0 20px 0;

     }
    
}
