@use "../../style/variables" as vars;
@use "../../style/mixins" as mixins;

.navBar {
    font-family: vars.$font_Funnel;
    gap: 60px;
    position: relative;
    @include mixins.respond-max(vars.$breakpoint-mobile) {
        margin: 0;
        padding: 0;  
    }
    &__burger {
        display: none;
        border: none;
        background-color: transparent;
        color: #c94ba3;
        cursor: pointer;
        z-index: 10001;
        &.open {
            transform: rotate(90deg);
            transition: transform 0.3s ease;
        }

           @include mixins.respond-max(vars.$breakpoint-mobile) {
                display: block; 
            }
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        gap: 30px;
        list-style: none;
         @include mixins.respond-max(vars.$breakpoint-mobile) {
              flex-direction: column;
              position: fixed;
              top: 0;
              right: -100%;
              width: 70%;
              height: 600px;
              background: white;
              padding: 2rem 0 2rem 2rem;
              gap: 1.5rem;
              transition: right 0.3s ease;
              z-index: 1000;

                &.open {
                  right: 0;
                }     
          }
    }
    &__item {
        position: relative;

        @include mixins.respond-max(vars.$breakpoint-mobile) {
            width: 100%;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.2rem;
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        color: #333;
            &.active {
                border-bottom: 5px solid vars.$bg-main-color1;
                font-weight: bold;
            }
    }

    &__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        padding: 20px;
        border-radius: 8px;
        max-height: none;
        height: auto;
        overflow-y: auto;
        transition:  max-height 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            @include mixins.respond-max(vars.$breakpoint-mobile) {
                position: static;
                max-height: 0;
                transition: max-height 0.3s ease;
                    &.is-open {
                        max-height: 500px; 
                    }
            }
        &.is-open {
            display: block; 
        }
    }
    &__dropdown li {
        padding: 5px 3px;
        &:hover {
            background-color: vars.$bg-main-color1;
        }
     }

    &__sublink {
        text-decoration: none;
        color: black;    
            &.active {
                border-bottom: 5px solid vars.$bg-main-color1;
                font-weight: bold;
            }
    }
}      