@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


//fonts

$font_Funnel:"Funnel Sans", sans-serif;
$font_comic: "Comic Relief", system-ui;
$font_lato: "Lato", sans-serif;

//colors
$section-bg: #ffd8ca;
$bg-main-color1: #C1D6E4;
$bg-main-color2:#9BB4B8;
$bg-main-color3:#CBA9C1;
$bg-main-color4: #DEDE24;
